<<<<<<< HEAD
<% include ./partials/boilerplate %>
<% include ./partials/end-boilerplate %>
<% include ./partials/header %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
<% include ./partials/end %>
=======
<!DOCTYPE html>
<html>

  <head>
    <script src=https://cdn.pubnub.com/sdk/javascript/pubnub.4.0.11.min.js></script>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to
      <%= title %>
    </p>
    Enter Chat and press enter
    <div>
      <input id=input placeholder=you-chat-here />
    </div>
    <div id=box></div>
    <script src='/script/main.js'></script>
  </body>

</html>
>>>>>>> f75c4e017a5459aa846816150f245ab154a7c54f
